---
import Layout from "../layouts/Layout.astro";
import InstallTabs from "../components/InstallTabs";
import { GITHUB_RELEASES_URL } from "../data/info";
---

<Layout>
	<div class="flex flex-col p-4 md:p-8 max-w-[90em] mx-auto justify-center">
		<div
			class="p-4 md:p-8 py-12 md:py-16 flex flex-col lg:flex-row items-center justify-between gap-8 lg:gap-0"
		>
			<div class="flex flex-col">
				<h1 class="text-4xl md:text-5xl font-semibold max-w-md">
					Lua Done
					<span class="border-b-4 border-blue-500"> Easy </span>
				</h1>

				<p class="my-6 md:my-8 text-lg max-w-lg">
					Lpm is an open-source project providing easy accessibility
					to a Lua runtime alongside intuitive package management for
					dependencies.
				</p>

				<div class="hidden lg:block">
					<InstallTabs client:only="preact" />
				</div>

				<a
					href={GITHUB_RELEASES_URL}
					target="_blank"
					rel="noopener noreferrer"
					class="lg:hidden inline-flex items-center justify-center px-6 py-3 bg-blue-500/10 border border-blue-500/30 text-blue-500 font-medium rounded-lg backdrop-blur-md w-fit"
				>
					Download
				</a>
			</div>

			<div class="relative hidden lg:block mt-4">
				<div
					class="absolute inset-0 -mt-12 bg-blue-500/40 dark:bg-blue-500/20 rounded-full blur-3xl scale-125"
				>
				</div>
				<img
					src="/lpm-small.svg"
					alt="lpm logo"
					class="size-96 -mt-12 relative"
				/>
			</div>
		</div>
	</div>
</Layout>
